<div
    ng-file-drop ng-model="myFiles" // binds the dropped files to the scope model
    class="drop-box"
    ng-file-change="fileDropped($files, $event, $rejectedFiles)" //called upon files being dropped
    ng-multiple="true" // default false, allows selecting multiple files. 
    accept="image/*" // wildcard filter for file types allowed for drop (comma separated)
    ng-rejected-file-model="rejFiles" // bind to dropped files that do not match the accept wildcard
    allowDir="true" // default true, allow dropping files only for Chrome webkit browser
    dragOverClass="" 
              // drag over css class behaviour. could be a string, a function returning class name 
              // or a json object {accept: 'c1', reject: 'c2', delay:10}. default "dragover"
    dropAvailable="dropSupported" // set the value of scope model to true or false based on file
                                  // drag&drop support for this browser
    stopPropagation="false" // default false, whether to propagate drag/drop events.
    hideOnDropNotAvailable="true" // default true, hides element if file drag&drop is not supported
>  
<br /><br /><br />Drop photos here.
</div>

<div ng-no-file-drop>
    <button type="file"
        ng-file-select ng-model="myFiles" // binds the selected files to the scope model
        ng-multiple="true"
        accept="image/*" // see standard HTML file input accept attribute
        resetOnClick="true" // default true, reset the value to null and clear selected files when
                                  // user cancels file select popup. (default behaviour in Chrome)
    >Select photo(s) to upload</button>
</div> 
